{% extends 'bolaoapp/base.html' %}

{% block content %}
    <br>
    <br>
    <h1>Lista de apostas para {{ partida.time1 }} x {{partida.time2}}</h1>
    <a class="btn btn-default" href="{% url 'tabela_partidas' %}" style="margin-top: 10px;">Voltar</a>
    <br>
    
    {% for aposta in apostas.all %}
        <ol>
        <li>
            <h3>
                Jogador: {{ aposta.apostador.user.username }} || Vencedor: {{ aposta.resultado }} || Placar apostado: {{ aposta.placar }} <br> Valor apostado: {{ aposta.valor_aposta }}  
            </h3> 
        </li>
        </ol>
    {% endfor %}
    
{% endblock %}