{% extends 'bolaoapp/base.html' %}

{% block content %}
    <br>
    <br>
    <h1>Lista de apostas para {{ partida.time1 }} x {{partida.time2}}</h1>
    <a class="btn btn-default" href="{% url 'tabela_partidas' %}" style="margin-top: 10px;">Voltar</a>
    <br>
    
    {% for aposta in apostas.all %}
        <ol>
        <li>
            <h3>
                <p>
                    Jogador: {{ aposta.apostador.user.username }}
                </p>
                <p>
                    Aposta: {{ partida.time1 }} {{aposta.qtdGols_time1 }} x {{aposta.qtdGols_time2 }} {{partida.time2}}
                </p>
                <p>
                    Valor apostado: {{ aposta.valor_aposta }}  
                </p>
            </h3> 
        </li>
        </ol>
    {% endfor %}
    
{% endblock %}