{% extends 'bolaoapp/base.html' %}

{% block header %}
    {% if jogador %}
        <h4 >Saldo: R$ {{ jogador.getCredito }}!</h4>
    {%endif%}
{%endblock header%}



{% block content %}
    {% if messages %}
    <ul class="messages" >
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade in"  style="width: 300px; margin-left: 200px; color: black;">
                <span style="font-size: 20pt; " class="closebtn" onclick="this.parentElement.style.display='none';" >&times;</span>
                <h4 {% if message.tags %} class=" {{ message.tags }} " {% endif %} style="padding: -10px; height: 5px;"> {{ message }}</h4>
            </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% for jogo in tabela %}
    <h4 style="color: black; margin-bottom: -10px;"> {{jogo.campeonato}}</h4>   
        <div class="post">
            <h2>
                {% if jogo.qtdGols_time1 == -1 %}
                    {{ jogo.time1 }} x {{ jogo.time2 }}
                {% else %}
                    {{ jogo.time1 }} {{ jogo.qtdGols_time1 }} x {{ jogo.qtdGols_time2 }} {{ jogo.time2 }}
                {% endif %}
            </h2> 
        </div>
        {% if user.is_authenticated %}
            <div style="margin-top: -50px; margin-bottom: 65px;">
                {% if jogo.isValidoParaAposta == True or  jogo.isValidoParaAposta == null  %}
                    <a class="btn btn-outline-dark" href="{% url 'fazer_aposta' pk=jogo.pk %}" style="margin-left: 10px;">Apostar!</a>
                    {%if user.is_superuser %}
                        <a class="btn  btn-outline-dark" href="{% url 'definir_resultado' pk=jogo.pk %}"><span class="glyphicon glyphicon-pencil"></span> Definir Resultado</a>
                        <a class="btn  btn-outline-dark" href="{% url 'excluir_partida' pk=jogo.pk %}" style="height: 34px;"><span class="glyphicon glyphicon-remove" style="margin-top: 3px;"></span>Excluir</a>
                        <a class="btn  btn-outline-dark" href="{% url 'listar_apostas' pk=jogo.pk%}"  style="height: 34px;"><span class="glyphicon glyphicon-list" style="margin-top: 3px;"></span> Ver apostas</a>
                        {% endif %}
                {% else %}
                    <br>
                {% endif %}
            </div>
            {%endif%}
    {% endfor %}
{% endblock %}